@import "tailwindcss";

body {
    background-color: #202020;
    color: #eee
}

@theme {
    --color-primary: #5046BB;
    --color-secondary: #D1B619
}

.custom-link {
    @apply text-primary hover:text-secondary transition-colors duration-200;
}