---
import kevin from '@/assets/kevin.webp'
import CopyEmailBtn from '@/components/ui/CopyEmailBtn.astro'
---

<h2 class="section-header">Sobre Mi</h2>

<section class="flex gap-4">
  <div class="h-full">
    <img
      src={kevin.src}
      alt="Kevin Santamaria"
      class="w-full h-full object-cover object-center rounded-lg"
    />
  </div>
  <div class="flex flex-col gap-4">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt doloribus atque aut
      recusandae rem beatae ipsam enim ullam reprehenderit architecto nemo fugit aliquid,
      incidunt nostrum accusantium quidem quod unde dicta!
    </p>
    <p>
      Aperiam dolore dolorum tenetur a assumenda at, neque rerum asperiores alias ipsum.
      Eaque ratione dolorum recusandae laudantium numquam, sequi blanditiis reiciendis
      possimus beatae officia magni, eveniet voluptas rem molestiae aspernatur!
    </p>
    <CopyEmailBtn/>
  </div>
</section>
