---
import kevin from '/assets/kevin.webp'
import CopyEmailBtn from '@/components/ui/CopyEmailBtn'
import DownloadCVBtn from './ui/DownloadCVBtn'
---

<h2 class="section-header">Sobre Mí</h2>

<section class="flex flex-col sm:flex-row gap-4">
  <aside class="h-full mx-auto">
    <img
      src={kevin.src}
      alt="Kevin Santamaria"
      class="w-[120px] h-[120px] sm:w-full sm:h-auto object-cover object-center rounded-lg select-none"
    />
  </aside>
  <main class="flex flex-col gap-4">
    <p>
      Me llamo Kevin Santamaria y soy estudiante de Ingeniería Informática.
      Enfocado en desarrollo frontend, disfruto de crear interfaces gráficas,
      que ofrezcan rapidez y accesibilidad al usuario. He desarrollado proyectos
      personales que me han permitido aplicar y ampliar mis conocimientos en las
      tecnologías web más recientes.
    </p>
    <p>
      Mi objetivo es seguir creciendo como desarrollador y encontrar
      oportunidades en las que pueda demostrar mis habilidades y contribuir en
      proyectos con impacto real.
    </p>
    <div class="flex sm:flex-row gap-2 items-center justify-center sm:justify-start">
      <CopyEmailBtn client:load />
      <DownloadCVBtn client:load />
    </div>
  </main>
</section>
