---
import kevin from '@/assets/kevin.webp'
import CopyEmailBtn from '@/components/ui/CopyEmailBtn'
import { Image } from 'astro:assets'
import DownloadCVBtn from './ui/DownloadCVBtn'
---

<h2 class="section-header">Sobre Mí</h2>

<section class="flex gap-4">
  <aside class="h-full">
    <Image
      src={kevin}
      alt="Kevin Santamaria"
      quality={100}
      class="object-cover object-center rounded-lg select-none"
    />
  </aside>
  <main class="flex flex-col gap-4">
    <p>
      Me llamo Kevin Santamaria y soy estudiante de Ingeniería Informática.
      Enfocado en desarrollo frontend, disfruto de crear interfaces gráficas,
      que ofrezcan rapidez y accesibilidad al usuario. He desarrollado proyectos
      personales que me han permitido aplicar y ampliar mis conocimientos en las
      tecnologías web más recientes.
    </p>
    <p>
      Mi objetivo es seguir creciendo como desarrollador y encontrar
      oportunidades en las que pueda demostrar mis habilidades y contribuir en
      proyectos con impacto real.
    </p>
    <div class="flex flex-col gap-2">
      <CopyEmailBtn client:load />
      <DownloadCVBtn client:load />
    </div>
  </main>
</section>
