---
import kevin from '@/assets/kevin.webp'
import CopyEmailBtn from '@/components/ui/CopyEmailBtn'
import { Image } from 'astro:assets';
---

<h2 class="section-header">Sobre Mí</h2>

<section class="flex gap-4">
  <aside class="h-full">
    <Image
      src={kevin}
      alt="Kevin Santamaria"
      quality={100}
      class="object-cover object-center rounded-lg select-none"
    />
  </aside>
  <main class="flex flex-col gap-4">
    <p>
      Me llamo Kevin Santamaria y soy estudiante de Ingeniería Informática.
      Enfocado en desarrollo frontend, disfruto de crear interfaces gráficas, 
      que ofrezcan rapidez y accesibilidad al usuario. He desarrollado
      proyectos personales que me han permitido aplicar y ampliar mis
      conocimientos en las tecnologías web más recientes.
    </p>
    <p>
      Mi objetivo es seguir creciendo como desarrollador y, en el futuro,
      enfocarme en crear soluciones digitales que aporten valor real.
    </p>
    <CopyEmailBtn client:load />
  </main>
</section>
