---
import { Icon } from 'astro-icon/components'
---

<section
  class="bg-gray-900 flex items-center justify-around gap-4 mt-10 shadow rounded-lg my-5 p-4 selection:text-secondary"
>
  <div>
    <h1 class="font-bold text-xl">Kevin Santamaria</h1>
    <p class="text-sm text-gray-400">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
    <div class="flex items-center gap-2 mt-3">
      <a href="https://github.com/kevsantamaria" class="custom-link"
      ><Icon name="tabler:brand-github" size={22} /></a
      >
      <a href="https://www.linkedin.com/in/kevsantamaria/" class="custom-link"
        ><Icon name="tabler:brand-linkedin" size={22} /></a
      >
      <a href="mailto:santamariakevin2003@gmail.com" class="custom-link"
        ><Icon name="tabler:mail" size={22} /></a
      >
      <button class="cta-btn">
        Descargar CV
      </button>
    </div>
  </div>
  <div class="h-[150px] w-[150px] rounded-lg">
    <img
      src="./voxel-avatar.webp"
      alt="Voxel-art avatar"
      class="object-center rounded-lg"
    />
  </div>
</section>
