---
import { Icon } from 'astro-icon/components'
import voxelAvatar from '@/assets/voxel-avatar.webp'
import CopyEmailBtn from '@/components/ui/CopyEmailBtn.astro'
---

<section
  class="container bg-gray-900 flex mt-10 shadow rounded-lg p-4 selection:text-secondary"
>
  <div class="flex flex-col items-center justify-start gap-2">
    <div>
      <h1 class="font-bold text-xl">Kevin Santamaria</h1>
      <p class="text-xs text-gray-400">Desarrollador frontend</p>
    </div>

    <div class="flex items-center gap-2">
      <CopyEmailBtn />
      <a href="https://github.com/kevsantamaria" class="custom-link"
        ><Icon name="tabler:brand-github" size={22} /></a
      >
      <a href="https://www.linkedin.com/in/kevsantamaria/" class="custom-link"
        ><Icon name="tabler:brand-linkedin" size={22} /></a
      >
    </div>
  </div>
  <div
    class="h-[90px] sm:h-[70%] w-full rounded-lg shadow-lg m-auto -mt-10"
  >
    <img
      src={voxelAvatar.src}
      alt="Voxel-art avatar"
      class="h-full w-full object-cover rounded-lg"
    />
  </div>
</section>
