---
import { Icon } from 'astro-icon/components'
import voxelAvatar from '@/assets/voxel-avatar.webp'
import CopyEmailBtn from '@/components/ui/CopyEmailBtn'
---

<section
  class="container bg-custom-card mt-10 shadow rounded-lg p-4 selection:text-secondary flex justify-around items-center gap-4"
>
  <div class="flex flex-col items-left">
    <div class="mb-2">
      <h1 class="font-bold text-xl">Kevin Santamaria</h1>
      <p class="text-xs text-secondary-custom-text">Desarrollador frontend</p>
    </div>

    <div class="flex flex-col gap-2">
      <CopyEmailBtn client:load/>
      <div class="flex gap-1">
        <a href="https://github.com/kevsantamaria" class="custom-link"
          ><Icon name="tabler:brand-github" size={22} /></a
        >
        <a href="https://www.linkedin.com/in/kevsantamaria/" class="custom-link"
          ><Icon name="tabler:brand-linkedin" size={22} /></a
        >
      </div>
    </div>
  </div>
  <div class="max-h-[140px] max-w-[140px]">
    <img
      src={voxelAvatar.src}
      alt="Voxel-art avatar"
      class="h-full w-full object-cover rounded-lg shadow-lg"
    />
  </div>
</section>
