---
import { Icon } from 'astro-icon/components'
---

<footer class="flex justify-center items-center gap-2 !text-gray-500">
  <span>Hecho por Kevin Santamaria</span>
  <div class="flex gap-1">
    <a
      href="https://github.com/kevsantamaria"
      title="Perfil de GitHub"
      target="_blank"
      rel="noopener noreferrer"
      class="custom-link-gray"><Icon name="tabler:brand-github" size={22} /></a
    >
    <a
      href="https://www.linkedin.com/in/kevsantamaria/"
      title="Perfil de LinkedIn"
      target="_blank"
      rel="noopener noreferrer"
      class="custom-link-gray"><Icon name="tabler:brand-linkedin" size={22} /></a
    >
  </div>
</footer>
