---
type Props = {
    imgPath: ImageMetadata,
    imgAlt: string,
    class?: string,
}

const { imgPath, imgAlt, class: className} = Astro.props
---

<article class={`w-full h-full ${className || ''}`}>
  <div class="w-full h-full">
    <img src={imgPath.src} alt={imgAlt} class="w-full h-full object-cover rounded-lg shadow" />
  </div>
</article>
