<div class="text-cyan-600">
	<h1>Hola, soy Kevin Santamaria</h1>
	<p>Soy un desarrollador web apasionado por crear experiencias digitales innovadoras y funcionales. Con habilidades en HTML, CSS, JavaScript y frameworks modernos, me esfuerzo por construir sitios web atractivos y eficientes que satisfagan las necesidades de los usuarios.</p>
	<p>Mi objetivo es combinar creatividad y tecnología para ofrecer soluciones web que no solo sean visualmente impresionantes, sino también fáciles de usar y accesibles para todos.</p>
</div>