---
import { Particles } from '@/components/ui/shadcn-io/particles'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin Santamaria</title>
  </head>
  <body class="relative h-full">
    <main class="mx-2 max-w-[600px] sm:mx-auto text-sm">
      <slot />
    </main>
    <Particles
      client:load
      className="absolute inset-0 -z-10"
      quantity={100}
      ease={80}
      staticity={40}
      color="#ffffff"
      size={0.8}
    />
  </body>
</html>
