---
import { Particles } from '@/components/ui/shadcn-io/particles'
import Footer from '@/components/Footer.astro'
import '@fontsource/alan-sans'
import alanSansWoff2 from '@fontsource/alan-sans/files/alan-sans-latin-400-normal.woff2?url'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" as="font" type="font/woff2" href={alanSansWoff2} crossorigin="anonymous">
    <title>Kevin Santamaria</title>
  </head>
  <body class="relative h-full selection:bg-custom-secondary selection:text-gray-800">
    <main class="mx-2 max-w-[600px] sm:mx-auto text-sm">
      <slot />
    </main>
    <footer class="mx-2 max-w-[600px] sm:mx-auto text-sm mt-8 mb-4 text-center">
      <Footer />
    </footer>
    <Particles
      client:load
      className="absolute inset-0 -z-10"
      quantity={120}
      ease={80}
      staticity={40}
      color="#ffffff"
      size={0.8}
    />
  </body>
</html>
