---
import { Icon } from 'astro-icon/components'
---

<div
  class="text-xs bg-inherit border border-primary p-2 rounded-lg flex items-center justify-between gap-2"
>
  <span id="email-adress">kevsantamaria01@gmail.com</span>
  <button id="copy-btn" class="bg-primary rounded-lg hover:bg-primary-hover cursor-pointer"
    ><Icon name="tabler:copy" size={14} /></button
  >
</div>

<script>
  const email = document.getElementById('email-adress')!
  const copyBtn = document.getElementById('copy-btn') as HTMLButtonElement

  try {
    copyBtn.addEventListener('click', async () => {
      await navigator.clipboard.writeText(email.innerText)
    })
  } catch (error) {
    console.error('Error: ' + error)
  }
</script>
